p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
div {
    font-family: "Times New Roman", serif;
    font-size: 14px;
}

img {
    margin-bottom: 0;
}

footer {
    position: absolute;
    bottom: 72px;
}

.header1 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}
.header2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}
.header4 {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}

.center-text {
    text-align: center;
}
.right-text {
    text-align: right;
}
.bold {
    font-weight: bold;
}
.text12 {
    font-size: 12px;
}
.u {
    text-decoration: underline;
}
.white-space {
    color: #fff;
}

.pdf-page {
    width: 90%;
    margin: auto;
}

.bg-b {
    background: #0c0c0c;
}

.white {
    color: #fff;
}

.inline-b {
    display: inline-block;
}
.flex {
    display: flex;
    justify-content: space-between;
}

.rel {
    position: relative;
}
.abs {
    position: absolute;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.pl50 {
    padding-left: 50px;
}

.m0 {
    margin: 0;
}
.mt9 {
    margin-top: 9px;
}
.mb18 {
    margin-bottom: 18px;
}
.mb36 {
    margin-bottom: 36px;
}
.mt36 {
    margin-top: 36px;
}
.mb72 {
    margin-bottom: 72px;
}
.mb100 {
    margin-bottom: 100px;
}
.mb120 {
    margin-bottom: 120px;
}
.mb150 {
    margin-bottom: 150px;
}
.mb200 {
    margin-bottom: 200px;
}
.mb250 {
    margin-bottom: 250px;
}
.mb300 {
    margin-bottom: 300px;
}

.p18 {
    padding: 18px;
}
