/* ******************************************************* */
/* Initialisations */
/* ******************************************************* */
:root {
    --primary-color: #1167b1;
    --primary-color1: #187bcd;
    --primary-color2: #2a9df4;
    --primary-color3: #d0efff;
    --primary-color4: #03254c;
    --complementary-color11: #fc7632;
    --complementary-color12: #b04d1a;
    --complementary-color21: #fcce00;
    --complementary-color22: #b09109;
    --red: #f00;
    --green: #0f0;
    --max-width: 1400px;
    --aside-width: 300px;
    --header1-size: 64px;
    --header2-size: 48px;
    --header3-size: 32px;
    --header4-size: 24px;
    --header5-size: 20px;
    --text-size: 16px;
    --text-tiny-size: 12px;
    --header1-line-h: 72px;
    --header2-line-h: 56px;
    --header3-line-h: 40px;
    --header4-line-h: 32px;
    --header5-line-h: 28px;
    --text-line-h: 24px;
    --text-tiny-line-h: 16px;
}

html {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    z-index: 50;
    z-index: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
button,
label {
    display: block;
}

button,
input,
select {
    box-sizing: content-box;
    font-size: var(--header5-size);
    line-height: var(--header5-line-h);
    padding: 0.125rem 0.5rem;
    margin-bottom: 0.5rem;
    width: 15rem;
    border: 1px solid #000;
    border-radius: 5px;
}

label {
    font-size: var(--header4-size);
    line-height: var(--header4-line-h);
    margin-bottom: 0.25rem;
}
label i {
    color: var(--primary-color);
}
label[required]::after {
    content: "*";
    color: red;
}

button {
    color: #000;
    border: none;
    background: var(--primary-color);
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}

button:hover {
    background: var(--primary-color4);
    color: #fff;
}

input,
select {
    border: var(--primary-color) solid 2px;
}

input:focus,
button:focus {
    outline: none;
}

table {
    border-collapse: collapse;
}

td,
th,
caption {
    border: 1px #999 solid;
    padding: 0.5rem;
}

th {
    background: var(--primary-color4);
    color: #fff;
}

caption {
    background: #fff;
}
tr:nth-child(2n + 2) {
    background: #fff;
}
tr:nth-child(2n + 3) {
    background: #def;
}
tr:hover:nth-child(n + 2) {
    box-shadow: inset 0px 0px 5px 2px #333;
}

/**************************************************************************/
/*                        LAYOUT ELEMENTS  */
/**************************************************************************/
body {
    display: flex;
}

aside {
    width: var(--aside-width);
    height: 100vh;
}

#main {
    flex: 1;
    height: 100vh;
    overflow: auto;
}

main {
    min-height: calc(100vh - 1rem);
    position: relative;
}

#forms-container {
    width: fit-content;
    width: max-content;
    z-index: 5;
}

#reports-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 300px;
    overflow: hidden;
    background: #eeee;
}

.reports-toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 51;
    background: var(--primary-color);
    color: #fff;
    border-radius: 0 0 0 8rem;
    padding: 0.5rem 1rem 0.5rem 3rem;
}

footer {
    height: 1rem;
}

.max-width-container {
    max-width: var(--max-width);
    margin: 0 auto;
}

.overlay {
    background: #9999;
    z-index: 8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/**************************************************************************/
/*                        CLASSES  */
/**************************************************************************/
h1,
.header1 {
    font-size: var(--header1-size);
    line-height: var(--header1-line-h);
}
h2,
.header2 {
    font-size: var(--header2-size);
    line-height: var(--header2-line-h);
}
h3,
.header3 {
    font-size: var(--header3-size);
    line-height: var(--header3-line-h);
}
h4,
.header4 {
    font-size: var(--header4-size);
    line-height: var(--header4-line-h);
}
h5,
.header5 {
    font-size: var(--header5-size);
    line-height: var(--header5-line-h);
}
.body-text {
    font-size: var(--text-size);
    line-height: var(--text-line-h);
}
.tiny-text {
    font-size: var(--text-tiny-size);
    line-height: var(--text-tiny-line-h);
}
.u {
    text-decoration: underline;
}
.bold {
    font-weight: bold;
}
.bolder {
    font-weight: bolder;
}
.center-text {
    text-align: center;
}

.colored-text1 {
    color: var(--primary-color);
    font-weight: bold;
}
.colored-text2 {
    color: var(--complementary-color12);
    font-weight: bold;
}

.card {
    padding: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 9px;
    background: #fff;
}

.flex-row-base {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-x {
    margin-right: auto;
    margin-left: auto;
}

.bg {
    background-color: var(--primary-color);
}
.bg4 {
    background-color: var(--primary-color4);
}
.bg-l-grey {
    background-color: #ddd;
}
.bg-ll-grey {
    background-color: #eee;
}
.bg-lll-grey {
    background-color: #e8e8e8;
}
.bg-w {
    background-color: #fff;
}
tr:nth-child(2n + 2).bg-orange-ll,
tr:nth-child(2n + 3).bg-orange-ll,
.bg-orange-ll {
    background-color: rgb(255, 180, 126);
}
tr:nth-child(2n + 2).bg-green-ll,
tr:nth-child(2n + 3).bg-green-ll,
.bg-green-ll {
    background-color: rgb(126, 255, 126);
}
tr:nth-child(2n + 2).bg-blue-ll,
tr:nth-child(2n + 3).bg-blue-ll,
.bg-blue-ll {
    background-color: rgb(126, 203, 255);
}
tr:nth-child(2n + 2).bg-red-l,
tr:nth-child(2n + 3).bg-red-l,
.bg-red-l {
    background-color: rgb(255, 66, 66);
}

.white {
    color: #fff;
}

.br05 {
    border-radius: 0.5rem;
}
.br1 {
    border-radius: 1rem;
}

.w3 {
    width: 3rem;
}
.w4 {
    width: 4rem;
}
.w5 {
    width: 5rem;
}
.w7 {
    width: 7rem;
}
.w9 {
    width: 9rem;
}
.w18 {
    width: 18rem;
}
.w21 {
    width: 21rem;
}
.w25 {
    width: 25rem;
}
.wp1 {
    width: fit-content;
    width: max-content;
    padding-left: 1rem;
    padding-right: 1rem;
}

.inline {
    display: inline-block;
}
.block {
    display: block;
}
.flex {
    display: flex;
}
.hidden {
    display: none;
}

.p05 {
    padding: 0.5rem;
}
.pr05 {
    padding-right: 0.5rem;
}
.pl05 {
    padding-left: 0.5rem;
}
.p1 {
    padding: 1rem;
}
.pr1 {
    padding-right: 1rem;
}
.pl1 {
    padding-left: 1rem;
}
.pt1 {
    padding-top: 1rem;
}
.p2 {
    padding: 2rem;
}
.ph2 {
    padding-right: 2rem;
    padding-left: 2rem;
}
.pt3 {
    padding-top: 3rem;
}

.mt05 {
    margin-top: 0.5rem;
}
.mb05 {
    margin-bottom: 0.5rem;
}
.mt1 {
    margin-top: 1rem;
}
.mb1 {
    margin-bottom: 1rem;
}
.ml1 {
    margin-left: 1rem;
}

.red {
    color: var(--red);
}
.green {
    color: var(--green);
}

.btr {
    border-top: red 1px dotted;
}

.aside-href {
    display: block;
}
.aside-focused-section {
    background-color: var(--primary-color4);
}
.aside-focused-href {
    color: var(--complementary-color21);
}

.btn {
    border-radius: 500px;
    border: solid 3px #03254c;
}
.add-btn {
    border-color: hsl(129, 100%, 30%);
    background: #fff;
    color: hsl(129, 100%, 30%);
}
.add-btn:hover {
    background: hsl(129, 100%, 30%);
    color: #fff;
}
.rm-btn {
    border-color: hsl(3, 100%, 30%);
    background: #fff;
    color: hsl(3, 100%, 30%);
}
.rm-btn:hover {
    background-color: hsl(3, 100%, 30%);
    color: #ffff;
}
.rm-btn2 {
    margin: 0;
    border-radius: 3px;
    border: none;
    color: #fff;
    background-color: hsl(3, 100%, 30%);
}
.rm-btn2:hover {
    background-color: hsl(3, 100%, 20%);
}
.critical-btn {
    border-color: hsl(256, 100%, 30%);
    background: #fff;
    color: hsl(256, 100%, 30%);
}
.critical-btn:hover {
    background-color: hsl(256, 100%, 30%);
    color: #ffff;
}
.critical-btn2 {
    margin: 0;
    border-radius: 3px;
    border: none;
    color: #fff;
    background-color: hsl(256, 100%, 30%);
}
.critical-btn2:hover {
    background-color: hsl(256, 100%, 20%);
}

.pointer {
    cursor: pointer;
}

.clickable-text {
    cursor: pointer;
    color: var(--primary-color);
    font-weight: bold;
}

.report {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px #000 solid;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}
.success-report {
    background: rgb(126, 255, 126);
    border-color: var(--green);
}
.success-report i.fas {
    color: var(--green);
}
.invalid-input-report {
    background: rgb(255, 225, 126);
    border-color: rgb(252, 193, 0);
}
.invalid-input-report i.fas {
    color: var(--red);
}
.missing-input-report {
    background: rgb(255, 180, 126);
    border-color: rgb(255, 106, 0);
}
.missing-input-report i.fas {
    color: var(--red);
}
.err-report {
    background: rgb(255, 126, 126);
    border-color: var(--red);
}
.err-report i.fas {
    color: var(--red);
}
.notice {
    background: rgb(126, 180, 255);
    border-color: rgb(0, 106, 255);
}
.notice i.fas {
    color: rgb(0, 106, 255);
}

.first-input {
    border-color: hsl(129, 100%, 30%);
}
.locked-input {
    border: #999 solid 2px;
    font-weight: bolder;
}
